<div *ngFor="let dat of data; let i=index">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="card">
                    <mat-expansion-panel-header class="table">
                        <mat-list style="width:90%">
                            <mat-list-item [ngStyle]="{'color':dat.Color}">
                                <table style="width:100%;" matSort (matSortChange)="sortData($event)">
                                    <tr style="text-align: center">
                                        <th mat-sort-header="ID">ID</th>
                                        <th mat-sort-header="Gender">Gender</th>
                                        <th mat-sort-header="Class">Class</th>
                                        <th mat-sort-header="Club">Club</th>
                                        <th mat-sort-header="Persona">Persona</th>
                                        <th mat-sort-header="Crush">Crush</th>
                                        <th mat-sort-header="BreastSize">BreastSize</th>
                                        <th mat-sort-header="Strength">Strength</th>
                                        <th mat-sort-header="Hairstyle">Hairstyle</th>
                                        <th mat-sort-header="Stockings">Stockings</th>
                                    </tr>
                                    <tr style="text-align: center">
                                        <td>{{dat.ID}}</td>
                                        <td>{{dat.Gender}}</td>
                                        <td>{{dat.Class}}</td>
                                        <td>{{dat.Club}}</td>
                                        <td>{{dat.Persona}}</td>
                                        <td>{{dat.Crush}}</td>
                                        <td>{{dat.BreastSize}}</td>
                                        <td>{{dat.Strength}}</td>
                                        <td>{{dat.Hairstyle}}</td>
                                        <td>{{dat.Stockings}}</td>
    
                                    </tr>
                                </table>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
    
                    </mat-expansion-panel-header>
                    <h2 [ngStyle]="{'color': dat.Color}" style="text-align: center">grades:</h2>
                    <h1 [ngStyle]="{'color': getColor(dat.grades)}" style="text-align: center"> {{dat.grades}}</h1>
                </mat-expansion-panel>
</div>